<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="../static/css/common.css"  rel="stylesheet" media="all">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">

</head>
<body>
<div id="page" class="hfeed site">
<header>
    <div class="site-branding">
    <h1 class="site-title">Reading Challenge</h1>
    </div>
    <nav class="nav1">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/book_list">Book List</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </nav>
    <div class="header-image">
    </div>
</header>
<div class="info">
    <section id="current-book">
        <h2 class="wigit-title-1">Current Book </h2>
        <p>bookbookbookbookbook</p>
        <p>bookbookbookbookbook</p>
        <p>bookbookbookbookbook</p>
        <p>bookbookbookbookbook</p>
        <p>bookbookbookbookbook</p>
    </section>
    <section id="progress">
        <h2 class="wigit-title-1"> Progress</h2>
        <span class="title-divider"></span>
        <p>bookbookbookbookbook</p>
        <p>bookbookbookbookbook</p>
        <p>bookbookbookbookbook</p>
        <p>bookbookbookbookbook</p>
        <p>bookbookbookbookbook</p>
    </section>
    <section id="profile">
        <h4 class="wigit-title-2">About me</h4>
        <span class="title-divider"></span>
        <div class="about-widget">
            <div>
                <img class=".about-img" src="../static/img/carolyn-v-zP6KAN1OtQk-unsplash.jpg" alt="about me" width="150"></img>
            </div>
            <div>
                <p>Love reading the classics.</p>
            </div>
    </section>
</div>
    <div class="book-list">
        <h2>Book List</h2>
        <ul>
            <li>book</li>
            <li>book</li>
            <li>book</li>
            <li>book</li>
            <li>book</li>
        </ul>
    </div>
    <div class="widget-area front-widget-area">
        <div id="widget-area-1">
            <h3>Book Title</h3>
            <p>bookbookbookbookbook</p>
            <p>bookbookbookbookbook</p>
            <p>bookbookbookbookbook</p>
            <p>bookbookbookbookbook</p>
            <p>bookbookbookbookbook</p>
        </div>
        <div id="widget-area-2">
            <h3>Book Title</h3>
        </div>
        <div id="widget-area-3">
            <h3>Book Title</h3>
        </div>
    </div>
</div>
</body>
</html>