<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
<header>
    <h1>Book Blog</h1>
    <nav>
        <ul>
            <ul><a href="/book_home">HOME</a></ul>
            <ul><a href="/book_list">BOOK LIST</a></ul>
            <ul><a href="/blog">BLOG</a></ul>
        </ul>
    </nav>
    <main>
        <div class="blog-post">
            <p></p>

        </div>
        <div class="side-menu">
            <div class="search">

            </div>
            <div class="recent-posts">

            </div>
            <div class="category">

            </div>
        </div>
    </main>
</header>
</body>
</html>