<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="../static/css/common.css"  rel="stylesheet" media="all">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">

</head>
<body>
<div id="page" class="hfeed site">
<header>
    <div class="site-branding">
    <h1 class="site-title">Reading Challenge</h1>
    </div>
    <nav class="nav1">
        <ul>
            <li><a href="/book_home">Home</a></li>
            <li><a href="/book_list">Book List</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </nav>
    <div class="header-image">
        <img class="header-img" src="../static/img/radu-marcusu-mbKApJz6RSU-unsplash.jpg" width="1180">
    </div>
</header>
<div class="info">
    <section id="current-book">
        <h2 class="wigit-title-1">Currently Reading </h2>
        <span class="title-divider"></span>
        <!--<div class="book-wigit">
            <div class="book-img">
                <img src="../static/img/alex-loup-2zDw14yCYqk-unsplash.jpg" width="150" height="200">
            </div>
            <div class="book-summary">
                <h4 class="wigit-title-2">Book Title</h4>
                <p>bookbookbookbookbook</p>
                <p>bookbookbookbookbook</p>
                <p>bookbookbookbookbook</p>
                <p>bookbookbookbookbook</p>
                <p>bookbookbookbookbook</p>
            </div>
        </div> -->
        <div class="amazlet-box" style="margin-bottom: 0px; margin-top: 25px;">
            <div class="amazlet-image" style="float: left; margin: 0px 20px 1px 35px;">
                <a href="{{book_info[4]}}" target="_blank" rel="noopener"
                    name="amazletlink">
                <img style="border: none;"
                     src="{{book_info[3]}}"
                     alt="Pride and Prejudice (Penguin Classics)"/>
                </a>
            </div>
            <div class="book-info">
                <div class="book-detail">
                    <a href="{{book_info[4]}}" target="_blank" rel="noopener"
                       name="amazletlink">{{book_info[0]}}</a> by {{book_info[1]}}
                    </br> {{book_info[2]}}
                </div>
                <div>
                    <p>{{book_description}}
                    <a class="book-reference" href="{{book_info[4]}}" target="_blank">See more at Goodreads</a></p>
                </div>
                <div class="book-sub-info" style="float: left;">
                </div>
	        </div>
<div class="amazlet-footer" style="clear: left;">&nbsp;</div>
</div>
    </section>
    <section id="progress">
        <h2 class="wigit-title-1"> Progress</h2>
        <span class="title-divider"></span>
        <div class="progress-widgit">
            <div class="progress-circle">
                <svg viewBox="0 0 36 36">
                    <path class="circle-bg"
                            d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831"
                            />

                    <path
                            d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831"
                            fill="none"
                            stroke="#f9c790";
                            stroke-width="1.4";
                            stroke-dasharray="26, 100"
                            />
                    <text x="18" y="20.35" class="percentage">26%</text>
                </svg>
            </div>
        </div>
        <div class="progress-ratio">
            <p>13 / 50</p>
        </div>
    </section>
    <section id="profile">
        <h4 class="wigit-title-2">About me</h4>
        <span class="title-divider"></span>
        <div class="about-widget">
            <div>
                <img class=".about-img" src="../static/img/carolyn-v-zP6KAN1OtQk-unsplash.jpg" alt="about me" width="180"></img>
            </div>
            <div>
                <p>Love reading the classics.<br> Favorite books: Pride and Prejudice, Anna Karenina, Jane Eyre, Momo, Alice
                's adventure in wonderland, Adventure of Sherlock Holmes</p>
            </div>
        </div>
    </section>
</div>
    <div class="book-list">
        <h2 class="wigit-title-1">Book List</h2>
        <span class="title-divider"></span>
        <div id="book-list-inner">
            <ul>
                <li><a href="{{book_img[0][2]}}" target="_blank">
                    <img src="{{book_img[0][0]}}" alt="{{book_img[0][1]}}" style="border: none;" /></a>
</li>
                <li><a href="{{book_img[1][2]}}" target="_blank">
                    <img src="{{book_img[1][0]}}" alt="{{book_img[1][1]}}" style="border: none;"/></a></li>

                <li><a href="{{book_img[2][2]}}" target="_blank">
                    <img src="{{book_img[2][0]}}" alt="{{book_img[2][1]}}" style="border: none;" /></a>
</li>
                <li><a href="{{book_img[3][2]}}" target="_blank">
                    <img src="{{book_img[3][0]}}" alt="{{book_img[3][1]}}" height="160" style="border: none;" /></a></li>
                <li><a href="{{book_img[4][2]}}" target="_blank">
                    <img src="{{book_img[4][0]}}" alt="{{book_img[4][1]}}" height="160" style="border: none;"/></a></li>

                <li><a href="{{book_img[5][2]}}" target="_blank">
                    <img src="{{book_img[5][0]}}" alt="{{book_img[5][1]}}" style="border: none;" /></a>
</li>
                <li><a href="{{book_img[6][2]}}" target="_blank">
                    <img src="{{book_img[6][0]}}" alt="{{book_img[6][1]}}" style="border: none;" /></a>
</li>
                <li><a href="{{book_img[7][2]}}" target="_blank">
                    <img src="{{book_img[7][0]}}" alt="{{book_img[7][1]}}" style="border: none;"/></a></li>
            </ul>
            <div class="see-more"><p><a href="/book_list">See More</a></p></div>
        </div>
    </div>
    <div class="widget-area front-widget-area">
        <div id="widget-area-1">
            <h3 class="wigit-title-3">Blog Title</h3>
            <h4 class="sub-title">Book Title</h4>
            <span class="title-divider"></span>
            <div class="wigit-area-blog">
            <p>book bookbook bookbook bookbook bookbookbookbookbook bookbookbook bookbookbookbookbookbook bookbookbookbookbook bookbookbookbook</p>
            <p class="read-more"><a href="/blog">Read More</a></p>
                <span class="title-divider"></span>
            </div>
        </div>
        <div id="widget-area-2">
            <h3 class="wigit-title-3">Blog Title</h3>
            <h4 class="sub-title">Book Title</h4>
            <span class="title-divider"></span>
            <div class="wigit-area-blog">
            <p>book bookbook bookbook bookbook bookbookbookbookbook bookbookbook bookbookbookbookbookbook bookbookbookbookbook bookbookbookbook</p>
            <p class="read-more"><a href="/blog">Read More</a></p>
                <span class="title-divider"></span>
            </div>

        </div>
        <div id="widget-area-3">
            <h3 class="wigit-title-3">Blog Title</h3>
            <h4 class="sub-title">Book Title</h4>
            <span class="title-divider"></span>
            <div class="wigit-area-blog">
            <p>book bookbook bookbook bookbook bookbookbookbookbook bookbookbook bookbookbookbookbookbook bookbookbookbookbook bookbookbookbook</p>
                <p class="read-more"><a href="/blog">Read More</a></p>
                <span class="title-divider"></span>
            </div>
        </div>
    </div>
</div>
</body>
</html>