<!DOCTYPE html>
<head>
    <meta charset='utf-8'>
    <title></title>
</head>
<body>
    <h1>Add a new book</h1>
        <p>Enter book info</p>
<form>
    <div>
        <div>
            <label for='title'>Title</label>
            <input type='text' id ='title' name='title'>
        </div>
        <div>
            <label for='volume'>Volume</label>
            <input type='text' id ='volume' name='volume'>
        </div>
        <div>
            <label for='text'>Author</label>
            <input type='text' id="text" name='author'>
        </div>
        <div>
            <label for="publisher">Publisher</label>
            <input type='text' id="publisher" name='publisher'>
        </div>
        <div>
            <label for="memo">Memo</label>
            <input type='text' id="memo" name='memo'>
        </div>
    </div>
</form>
</body>