@charset "UTF-8";

html {
    font-size: 62.5%;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
    outline: 0;
}

body {
    background-color: #fafafa;
    color: #404040;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.5;
}

.header-image {
}

.site {
    margin: 0 auto;
    max-width: 1180px;
    padding: 0;
}

.site::before {
    content:"";
    display: table;
}

.site-branding {
    background: #fbf9cc url(../img/s_GettyImages-944846292.jpg);
    background-color: #fff;
    padding: 3em 0 36px;

}

h1 {
    clear: both;
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

header, footer, nav {
    text-align: center;
    display: block;
}

.info, .widget-area, .book-list {
    margin-bottom: 20px;

}

.site-title {
    color: #333;
    font-size: 3.6rem;
    line-height: 1.3333;
    margin-bottom: 0;
}

.wigit-title-1, .wigit-title-2, .wigit-title-3, .sub-title {
    font-family: "brandon-grotesque",sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 400;

}

.wigit-title-2 {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 2px;
    padding: 10px 10px 7px 10px;
}

.wigit-title-1 {
    margin-bottom: 10px;
}

.wigit-title-3 {
    margin-top: 18px;
    margin-bottom: 0;

}

.sub-title {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 2px;
}

.nav1 {
    background-color: #f25f70;
    border-bottom: 2px solid rgb(0,0,0,.15);
    margin-bottom: 15px;
    color: #fff;
    display: block;
    padding: .25em 55px;
}

.nav1 ul {
    margin: 0;
    text-align: center;

}

.nav1 li {
    list-style-type: none;
    display: inline-block;
    padding: .75em 1em .75em 0;
    position: relative;
}

.nav1 a {
    color: #fff;
    display: block;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.7143;
    text-decoration: none;
    text-transform: uppercase;

    /*background: #ffeeee;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
    color: #696969;
    display: block;
    font-family: Arial;*/
}

.nav1 > ul > li > a::after {
    color: #ffa4ad;
    content: " \2022";
    margin-left: 1em;
}

#contents {
    /*width: 960px;*/
    margin: 0px auto;
    padding: 40px 80px;
    border: 1px solid #f6bb9e;
    background-color: #fff;
    font-family: Arial;
    color: #696969;

}
.newbookBtn {
    width: 100px;
    margin: 10px;
    padding: 10px;
    background: #fadccc;
    border: 2px solid #f6bb9e;
    border-radius: 10px;
    font-family: Arial;
    color: #696969;
}

.bookTable {
    width: 100%;
    margin-top: 10px;
    border: 2px solid #f6bb9e;
    border-collapse: collapse;
    font-family: Arial;
    color: #696969;
}

.bookTable th,
.bookTable td {
    padding: 10px 10px;
    border: 1px solid #f6bb9e;
}

.bookTable th {
    width: 10em;
    background-color: #ffeeee;
}

#bookform label {
    display: block;
    margin-top: 12px;
    margin-bottom: 4px;
}

#bookform input {
    width: 400px;
    padding: 8px 8px;

}

#current-book {
    background-color: #fff;
    border: solid 1px #eee;
    box-sizing: border-box;
    margin-right: 1%;
    margin-bottom: 15px;
    float: left;
    width: 46%;
}

#progress {
    background-color: #fff;
    border:1px solid #f6f5f3;
    box-sizing: border-box;
    margin-right: 1%;
    float: left;
    width: 27%;
}

#profile {
    background-color: #fff;
    float: left;
    width: 25%;
    box-sizing: border-box;
    border: 14px solid #f6f5f3;
    padding: 10px 10px 6px 10px;
}

#profile h2 {
    text-align: center;

}

#profile::after {
    clear: both;
}

.book-list {
    clear: both;
    background-color: #fff;
}
.book-list li {
    display: inline;
    margin-right: 20px;
}

.book-list h2 {
    padding-top: 20px;

}

.widget-area {
}

.widget-area #widget-area-1 {
    background-color: lavender;
    float:left;
    width: 30%;
    margin-right: 5%;
}

.widget-area #widget-area-2 {
    background-color: skyblue;
    float: left;
    width: 30%;
    margin-right: 5%;
}

.widget-area #widget-area-3 {
    background-color: coral;
    float: left;
    width: 30%;
}

.title-divider {
    border-top: 1px solid;
    color: #e89f9b;
    display: block;
    max-width: 48px;
    margin: 0 auto 15px;
}

.about-widget {
    text-align: center;
    font-size: 12px;

}

.about-img {
    display: inline-block;
    height: auto;
}

.progress-widgit {
    text-align: center;
}

.progress-ratio {
    display: inline-block;
    font-size: 3.6rem;
    color: #e89f9b;
    text-align: center;
    width: 100%;

}

.progress-ratio p {
    margin: 10px 0 15px 0;
}

.progress-circle {
    width: 180px;
    height: auto;
    margin: auto;

}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 2;
}

.percentage {
    text-anchor: middle;
    font-size: 1rem;
    fill: #e89f9b;
}

.book-info {
    line-height: 120%;
    margin-bottom: 10px;
    float:left;
    width: 70%;
}

.book-img {
    float: left;
    width: 30%;
    margin-left: 5%;
}

.book-summary {
    width: 50%;
    margin-right: 5%;
    margin-left: 5%;
    float: left;
    text-align: center;
}

.book-detail {
    margin-bottom: 8px;
    line-height: 150%;
}
#book-list-inner {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#book-list-inner img {
    height:160px;
}

.wigit-area-blog {
    width: 80%;
    margin: auto;
    text-align: center;
}

.book-reference {
    font-size: 1.2rem;

}